<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leyuan.aidong">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />

    <uses-feature android:name="android.hardware.microphone" />

    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".ui.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.FullScreen">
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.activity.media.VideoPlayerActivity" />
        <activity android:name=".ui.activity.mine.account.LoginActivity" />
        <activity android:name=".ui.activity.discover.CommentDetailActivity" />
        <activity
            android:name=".ui.activity.media.AlbumActivity"
            android:hardwareAccelerated="true" />
        <activity android:name=".ui.activity.media.TabPhotoWallActivity" />
        <activity android:name=".ui.activity.media.TabTheIndividualDynaminActivity" />
        <activity android:name=".ui.activity.media.MyRecorderVideoActivity" />
        <activity android:name=".ui.activity.media.PreviewViedoShowActivity" />
        <activity android:name=".ui.activity.media.SelectVideoActivity" />
        <activity android:name=".ui.activity.media.SelectVideoCoverActivity" />
        <activity android:name=".ui.activity.media.TabVideoShowActivity" />
        <activity android:name=".ui.activity.media.ImageShowerActivity" />
        <activity android:name=".ui.activity.mine.MyShowActivityNew" />
        <activity android:name=".ui.activity.mine.TabMinePersonalDataActivity" />
        <activity android:name=".ui.activity.mine.TabMinePersonalDataFitnessGoalsActivity" />
        <activity android:name=".ui.activity.mine.TabMinePersonalDataFitnessIsGoodActivity" />
        <activity android:name=".ui.activity.mine.TabMinePersonalDataIndividualitySignatureActivity" />
        <activity android:name=".ui.activity.mine.TabMinePersonalDataNicknameActivity" />
        <activity android:name=".ui.activity.mine.TabMinePersonalDataOftenGymActivity" />
        <activity android:name=".ui.activity.discover.UserWhoClickLikeActivity" />
        <activity android:name=".ui.activity.mine.account.PasswordForgetActivity" />
        <activity android:name=".ui.activity.mine.account.PasswordRegistActivity" />
        <activity android:name=".ui.activity.mine.account.SMSRegistActivity" />
        <activity android:name=".ui.activity.mine.account.UserAgreementActivity" />
        <activity android:name=".ui.activity.mine.AboutMxActivity" />
        <activity android:name=".ui.activity.mine.BingdingCommunityActivity" />
        <activity android:name=".ui.activity.mine.PrivacyActivity" />
        <activity android:name=".ui.activity.mine.TabHelpActivity" />
        <activity android:name=".ui.activity.mine.TabMineBingdingMobilePhoneActivity" />
        <activity android:name=".ui.activity.mine.TabMineChangePasswordActivity" />
        <activity android:name=".ui.activity.mine.TabMineDoNotDisturbPeriodActivity" />
        <activity android:name=".ui.activity.mine.TabMineFeedBackActivity" />
        <activity android:name=".ui.activity.mine.TabMineMessageReminderActivity" />
        <activity android:name=".ui.activity.mine.TabMinePersonalSettingsActivity" />
        <activity android:name=".ui.activity.mine.VersionOfTheIntroductionActivity" />
        <activity android:name=".ui.activity.mine.LoveCoinActivity"/>
        <activity android:name=".ui.activity.mine.LoveCoinWithDrawActivity"/>
        <activity android:name=".ui.activity.mine.PaymentDetailActivity"/>
        <activity android:name=".ui.activity.mine.OrderActivity" />
        <activity android:name=".ui.activity.mine.AppointmentActivity" />
        <activity android:name=".ui.activity.mine.CouponActivity" />
        <activity android:name=".ui.activity.mine.OrderDetailActivity" />
        <activity android:name=".ui.activity.mine.AppointmentDetailActivity" />
        <activity android:name=".ui.activity.mine.FollowActivity" />
        <activity android:name=".ui.activity.mine.AddAddressActivity" />
        <activity android:name=".ui.activity.mine.MessageActivity"/>
        <activity android:name=".ui.activity.mine.AddressActivity" />
        <activity android:name=".ui.activity.mine.CartActivity" />
        <activity android:name=".ui.activity.mine.CouponExchangeActivity"/>
        <activity android:name=".ui.activity.home.ConfirmOrderActivity"/>
        <activity android:name=".ui.activity.mine.PaySuccessActivity"/>
        <activity android:name=".module.scan.activity.MipcaActivityCapture" />
        <activity android:name=".module.scan.activity.ScanResultActivity" />
        <activity android:name=".module.scan.activity.ScanActivity" />
        <activity android:name=".ui.activity.home.FoodActivity" />
        <activity android:name=".ui.activity.home.PastCampaignActivity" />
        <activity android:name=".ui.activity.home.OldCourseActivity" />
        <activity android:name=".ui.activity.home.CourseActivity"/>
        <activity android:name=".ui.activity.home.CourseDetailActivity" />
        <activity android:name=".ui.activity.home.CampaignActivity" />
        <activity android:name=".ui.activity.home.SearchActivity" />
        <activity android:name=".ui.activity.home.GoodsFilterActivity" />
        <activity android:name=".ui.activity.home.NurtureActivity" />
        <activity android:name=".ui.activity.home.CampaignDetailActivity" />
        <activity android:name=".ui.activity.home.GoodsDetailActivity" />
        <activity android:name=".ui.activity.home.EquipmentActivity" />
        <activity android:name=".ui.activity.home.LocationActivity"/>
        <activity android:name=".ui.activity.home.BrandActivity"/>
        <activity android:name=".ui.activity.home.DeliveryInfoActivity" />
        <activity android:name=".ui.activity.discover.AppointVenuesActivity"/>
        <activity android:name=".ui.activity.discover.AppointCoachActivity"/>
        <activity android:name=".ui.activity.home.SelfDeliveryShopActivity" />
        <activity android:name=".ui.activity.home.ConfirmGoodsActivity" />
        <activity android:name=".ui.activity.home.ImagePreviewActivity"/>
        <activity android:name=".ui.activity.mine.ApplyServiceNextActivity"/>
        <activity android:name=".ui.activity.home.AppointmentSuccessActivity"/>
        <activity android:name=".ui.activity.home.AppointmentUserActivity"/>
        <activity android:name=".ui.activity.mine.UpdateAddressActivity"/>
        <activity android:name=".ui.WebViewActivity"/>
        <activity android:name=".ui.activity.video.WatchOfficeActivity"/>
        <activity android:name=".ui.activity.video.PlayerActivity"/>
        <activity android:name=".ui.activity.video.VideoDetailActivity"/>
        <activity android:name=".ui.activity.video.LiveCommentActivity"/>
        <activity android:name=".ui.activity.video.LiveDetailActivity"/>
        <activity android:name=".ui.activity.video.LivingVideoActivity"/>
        <activity android:name=".ui.activity.discover.DiscoverVenuesActivity"/>
        <activity android:name=".ui.activity.discover.SportNewsActivity"/>
        <activity android:name=".ui.activity.discover.NewsDetailActivity"/>
        <activity android:name=".ui.activity.video.VideoCommentActivity"/>
        <activity android:name=".ui.activity.mine.ApplyServiceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".ui.activity.mine.AlbumActivity"/>
        <activity
            android:name=".ui.activity.home.AppointmentInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.activity.discover.VenuesDetailActivity" />
        <activity android:name=".ui.activity.discover.DiscoverUserActivity" />
        <activity android:name=".ui.activity.discover.FilterAroundPeopleActivity" />
        <activity android:name=".ui.activity.mine.login.ChangePasswordActivity" />
        <activity android:name=".ui.activity.mine.login.CompleteUserInfomationActivity" />
        <activity android:name=".ui.activity.mine.login.FastLoginActivity" />
        <activity android:name=".ui.activity.mine.login.FindPasswordActivity" />
        <activity android:name=".ui.activity.mine.login.RegisterActivity" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="oOUovyobUoONSmPB8qGjG4Lq" />

        <receiver android:name=".module.pay.weixinpay.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="换成腾讯appid" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".widget.wheelcity.LoadAddressDataActivity" />
    </application>

</manifest>